@model WebApplication1.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string LightboxCommentsAndRate;
}
<a href="#x" class="overlay" id="win5"></a>
<link rel="stylesheet" href="~/Content/lightbox.css" />
<link rel="stylesheet" href="~/Content/owl.carousel.css" />
<link rel="stylesheet" href="~/Content/owl.theme.css" />
<link rel="stylesheet" href="~/Content/owl.transitions.css" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/owl.carousel.js"></script>
<script src="~/Scripts/lightbox.js"></script>
<head>
    <meta charset="utf-8">
    <title>nth-child</title>
    <style>
        table {
            width: 100%; /* Ширина таблицы */
            border-spacing: 10px; /* Расстояние между ячейками */
            border-color: #000000;
            float: left;
            background-color: #ff6a00;
        }
        .owl-carousel .item {
            margin: 3px;
            height:inherit;
            align-items:center;
        }

            .owl-carousel .item img {
                width: 100%;
                height:auto;
                vertical-align:central;
            }

    </style>
</head>
<h1>@Resources.Resource.New</h1>
<hr />
<dl class="dl-horizontal">
    <div class="owl-carousel;" id="owl-demo-new">
        @foreach (var item in Model.newDemotivators)
        {
            LightboxCommentsAndRate =Html.Partial("_VoteNow", item.Id.ToString()).ToString()+ Html.Partial("_VoteShow", item.Rate).ToString() + Html.Partial("_Comments", item.Comments, new ViewDataDictionary { { "id", @item.Id } }).ToString();
            <div class="item" >
                <a class="example-image-link" data-title="<a href=&quot;/Demotivators/Details/@item.Id&quot; class=&quot;btn btn-dangers&quot; >Full Info </a>@LightboxCommentsAndRate" href=@item.DemotivatorUrl data-lightbox="example-1">
                <img class="example-image" src=@item.DemotivatorUrl  alt="image-1" />
                </a>
            </div>
        }
    </div>
</dl>
<h1>@Resources.Resource.Best</h1>
<hr />
<div class="owl-carousel" id="owl-demo-best">
    @foreach (var item in Model.bestDemotivators)
    {
        LightboxCommentsAndRate = Html.Partial("_VoteNow", item.Id.ToString()).ToString() + Html.Partial("_VoteShow", item.Rate).ToString() + Html.Partial("_Comments", item.Comments, new ViewDataDictionary { { "id", @item.Id } }).ToString();
        <div class="item">
            <a class="example-image-link" data-title="<a href=&quot;/Demotivators/Details/@item.Id&quot; class=&quot;btn btn-dangers&quot; >Full Info </a>@LightboxCommentsAndRate" href=@item.DemotivatorUrl data-lightbox="example-1">
                <img class="example-image" src=@item.DemotivatorUrl  alt="image-1" />
                </a>
            <div class="td" id="ShowRe">@Html.Partial("_VoteShow", item.Rate)</div>
        </div>
    }
</div>
<footer>          
        <div>     
            <div id="myCanvasContainer" class="col-xs-6">
                <canvas width="550" height="300" id="myCanvas">                  
                    @foreach (var tags in Model.tags)
                    {        
                        @Html.ActionLink(tags.Name, "TagResultDemosList", "Demotivators", new { @id = tags.Id }, new { })
                    }
                </canvas>
            </div>     
            <div class="col-xs-6">
                     <p>@Resources.Resource.TopUserRate : </p>
            </div>
        
    </div>
</footer>
<script>
    $(document).ready(function () {

        $("#owl-demo-new").owlCarousel({

            autoPlay: 5000, //Set AutoPlay to 5 seconds

            items: 4,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3],
            pagination: true
            

        });
        $("#owl-demo-best").owlCarousel({

            autoPlay: 6000, //Set AutoPlay to 5 seconds

            items: 4,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3],
            pagination: true


        });

    });
</script>