@model WebApplication1.Demotivator

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.DeleteTitle</h2>

<h3>@Resources.Resource.DeleteSure</h3>
@{
    if (User.Identity.Name == Model.AspNetUser.UserName)
        {
<div>
    <hr />
    <dl class="dl-horizontal; col-xs-5">       
        <dt>
            @Html.Label(Resources.Resource.CreatorName) : 
            @Html.DisplayFor(model => model.AspNetUser.UserName)
                </dt>       
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value=@Resources.Resource.Delete class="btn btn-default" />
            </div>
            @Html.ActionLink(Resources.Resource.BackToList, "Index")
        }
    </dl>
    <div class="col-xs-7">
        <img src="@Model.DemotivatorUrl" style="width:70%;height:70%;"/>
    </div>
</div>
    }
    else
    {
        <p>WHOOPS, U CANT DO IT SON</p>
        @Html.ActionLink(Resources.Resource.BackToList, "Index")
    }
}
