@model WebApplication1.Demotivator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.DemoDetails</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label(Resources.Resource.DemoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemotivatorName)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.DemoRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.DemoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.CreatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorName)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.DemoUrl)
        </dt>

        <dd>
            <img src="@Model.DemotivatorUrl" />
        </dd>

        <dt>
            @Html.Label(Resources.Resource.OriginalDemoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalImageUrl)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.TopLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopLine)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.BottomLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomLine)
        </dd>

        <dt>
            @Html.Label(Resources.Resource.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
        @{string DemotivatorIdForEdit = Model.Id.ToString();} 
    </dl>
</div>
<p>
   
    @Html.ActionLink(Resources.Resource.DemoEdit, "Edit/"+ DemotivatorIdForEdit)
</p>

<p>
    <div class="tr" style="background-color:#f1f1f1;">
        <div class="td0">Please rate</div>
        <div class="td">@Html.Partial("_VoteNow", Model.Id.ToString())</div>
        @if (Model.Rate is string)
        {
            <div class="td" id="ShowRe">@Html.Partial("_VoteShow", Model.Rate)</div>
        }
        <div class="td" id="ShowRes">@Html.Partial("_Comments", Model.Comments, new ViewDataDictionary { { "id", @Model.Id } })</div>
   
    @Html.ActionLink(Resources.Resource.BackToList, "Index")
</p>
<script src="~/Scripts/jquery.timeago.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/fabric.js"></script>