@model WebApplication1.Demotivator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.DemoDetails</h2>

<div>
    <hr />
    <div class="col-xs-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.Label(Resources.Resource.DemoName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DemotivatorName)
            </dd>

            <dt>
                @Html.Label(Resources.Resource.DemoRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>

            <dt>
                @Html.Label(Resources.Resource.DemoDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.Label(Resources.Resource.CreatorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatorName)
            </dd>     
                               
        </dl>
    </div>
    <div class="col-xs-7"><img src="@Model.DemotivatorUrl"width="50%" height="50%" /></div>
</div>
<p>
    <div class="tr" style="background-color:#f1f1f1;">
        <a href=/Demotivators/Delete/@Model.Id class="btn btn-dangers">Delete </a>
        <a href=/Demotivators/Edit/@Model.Id class="btn btn-dangers">Edit </a>
       
        <div class="td0">Please rate</div>
        <div class="td">@Html.Partial("_VoteNow", Model.Id.ToString())</div>
        @if (Model.Rate is string)
        {
            <div class="td" id="ShowRe">@Html.Partial("_VoteShow", Model.Rate)</div>
        }
        <div class="td" id="ShowRes">@Html.Partial("_Comments", Model.Comments, new ViewDataDictionary { { "id", @Model.Id } })</div>

        @Html.ActionLink(Resources.Resource.BackToList, "Index")
        </div>
</p>
<script src="~/Scripts/jquery.timeago.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/fabric.js"></script>