@{
    ViewBag.Title = Resources.Resource.Contact;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @Resources.Resource.SiteName<br />
    @Resources.Resource.SiteAdress<br />
    <abbr title="Phone">@Resources.Resource.PhoneLetter:</abbr>
    @Resources.Resource.SitePhoneNumber
</address>

<address>
    <strong>@Resources.Resource.Support:</strong>   <a href="mailto:www.maixiwow@mail.ru">www.maixiwow@mail.ru</a><br />
    <strong>@Resources.Resource.Marketing:</strong> <a href="mailto:www.maixiwow@mail.ru">qwerty@example.com</a>
</address>